<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<body>
  <div class="extra-block2"></div>
  <div class="block">
    <div class="nav-buttons">
      <div id="nav">&nbsp;</div>
    </div>
    <div class="row-1">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <figure class="box-1"><img src="static/images/page1-img1.jpg" alt="" style="width:300px;height:188px;">
              <figcaption>Nails <a href="booking"></a></figcaption>
            </figure>
          </article>
          <article class="grid_4">
            <figure class="box-1"><img src="static/images/page1-img2.jpg" alt="" style="width:300px;height:188px;">
              <figcaption>Hair <a href="booking"></a></figcaption>
            </figure>
          </article>
          <article class="grid_4">
            <figure class="box-1"><img src="static/images/page1-img3.jpg" alt="" style="width:300px;height:188px;">
              <figcaption>Facial <a href="booking"></a></figcaption>
            </figure>
          </article>
        </div>
      </div>
    </div>
    <footer>
      <div class="main aligncenter">
        <div class="privacy"><strong>Lina Beauty &copy; 2045</a></strong></div>
      </div>
    </footer>
  </div>
</body>

{% endblock %}