<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
</head>
<body>
<div class="extra-block">
  <section id="content">
  <div class="main-block">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="static/images/page3-img1.jpg" alt=""> </figure>
          <h4>Nails Care</h4>
          <p>Our skilled technicians are passionate about providing top-notch services that will leave your nails looking and feeling amazing. Whether you want a classic mani-pedi or something more elaborate, we have the perfect solution for you. </p>
          <ul class="list">
            <li><a>Gel Manicure</a></li>
            <li><a>Pedicure</a></li>
            <li><a>Combination Packages</a></li>
          </ul>
          <a href="booking.html" class="button">Book now</a> </article>
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="static/images/page3-img2.jpg" alt=""> </figure>
          <h4>Hair Care</h4>
          <p>Our team of experts uses only the finest products and techniques to give you the perfect look you've been dreaming of. From cuts and colors to treatments and styling, we offer a wide range of services that cater to all your hair needs. </p>
          <ul class="list">
            <li><a>Haircut</a></li>
            <li><a>Hair Styling</a></li>
            <li><a>Hair Wash</a></li>
          </ul>
          <a href="booking.html" class="button">Book now</a> </article>
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="static/images/page3-img3.jpg" alt=""> </figure>
          <h4>Facial Care</h4>
          <p>Our professionals use high-quality products and techniques to cleanse, exfoliate, and hydrate your skin. Whether you want to clear up acne, reduce fine lines, or just achieve a healthy glow, our team will customize the treatment to meet your needs. </p>
          <ul class="list">
            <li><a>Anti-Ageing Facial</a></li>
            <li><a>Oxygen Facial</a></li>
            <li><a>Deep Cleansing Facial</a></li>
          </ul>
          <a href="booking.html" class="button">Book now</a> </article>
      </div>
    </div>
  </div>
  <section>
</div>
<div class="block">
  <footer>
    <div class="main aligncenter">
      <div class="privacy"><strong>Lina Beauty &copy; 2045</a></strong></div>
    </div>
  </footer>
</div>
</body>
</html>
{% endblock %}
